<% unless activity.trackable.nil? %>
    <div class="hero-unit" style="padding: 20px; margin-bottom: 20px;width: 200px; line-height: 20px; font-size: 14px;">
      A <%= link_to activity.trackable.event_name, offline_event_path(activity.trackable_id) %> Event was added
      to <%= activity.trackable.school_name %>

      <div class="clearfix"></div>
      <i class="icon-time" style="margin-top: 03px;"></i>
      <small><%= time_ago_in_words(activity.trackable.start_at) %> ago</small>
    </div>
<% end %>