<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="./Carousel Template · Bootstrap_files/slide-01.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Your plastic kills 10 million birds and fishes every day!</h1>
          <p class="lead">Come lets save them!</p>
		 <%= link_to 'Sign up today', 'program/signup' , :class => 'btn btn-large btn-primary'%>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="./Carousel Template · Bootstrap_files/slide-02.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Is this going to be my Legacy?</h1>
          <p class="lead">This is I am going to leave earth for my children?</p>
			<%= link_to 'Learn More', 'program/learnmore' , :class => 'btn btn-large btn-primary'%>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="./Carousel Template · Bootstrap_files/slide-03.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>By the Kids; For the Future!</h1>
          <p class="lead">Kids are showing a way to the bright future!</p>
          <a class="btn btn-large btn-primary" href="program/gallery">Browse gallery</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="http://getbootstrap.com/2.3.2/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="http://getbootstrap.com/2.3.2/examples/carousel.html#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->
