<ul class="thumbnails">

  <legend>Sadhana School,Hadapsar<h5>Date: December 21, 2013</h5></legend>
  <%(1..8).each do |img| %>
      <li class="span6">
        <div class="thumbnail">
          <img src=<%="/assets/schools/Sadhna_#{img}.jpg"%> alt="">
        </div>
      </li>
  <%end%>


  <legend>New English School,Hadapsar<h5>Date: October 5, 2013</h5></legend>
  <%(1..9).each do |img| %>
      <li class="span6">
        <div class="thumbnail">
          <img src=<%="/assets/schools/New_English_School_#{img}.jpg"%> alt="">
        </div>
      </li>
  <%end%>
</br>
  </br>


</ul>

