<div id="demo-accordion-wrapper" class="accordion-wrapper" style="width: 940px; height: 300px; overflow: hidden;">

  <div class="slide active" style="left: 0px; height: 300px; overflow: hidden;">

    <img src="/assets/slider/slide1.JPG" alt="">

    <div class="caption" style="opacity: 1; bottom: 0px;">

      <a href="http://www.egrappler.com/raccordion/demo1.htm#">

        <h1>

          Caption title</h1>

      </a>

      <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lorem vitae nibh

        ultrices adipiscing. In fringilla auctor mauris ac mollis.</p>

    </div>

  </div>

  <div class="slide" style="left: 156.66666666666666px; height: 300px; overflow: hidden;">

    <img src="/assets/slider/slide2.JPG" alt="">

    <div class="caption" style="opacity: 0; bottom: 0px;">

      <a href="http://www.egrappler.com/raccordion/demo1.htm#">

        <h1>

          Caption title</h1>

      </a>

      <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lorem vitae nibh

        ultrices adipiscing. In fringilla auctor mauris ac mollis.</p>

    </div>

  </div>

  <div class="slide" style="left: 313.3333333333333px; height: 300px; overflow: hidden;">

    <img src="/assets/slider/slide3.JPG" alt="">

    <div class="caption" style="opacity: 0; bottom: 0px;">

      <a href="http://www.egrappler.com/raccordion/demo1.htm#">

        <h1>

          Caption title</h1>

      </a>

      <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lorem vitae nibh

        ultrices adipiscing. In fringilla auctor mauris ac mollis.</p>

    </div>

  </div>

</div>

</div>

    