
<!-- FOOTER -->
<footer>
  <p>© 2013 <%= @program_name %> · <a href="./Carousel Template · Bootstrap_files/Carousel Template · Bootstrap.html">Powered by <%= link_to 'Initiativers Platform', 'http://www.initiativers.com/' %></a> </p>
</footer>