<div data-no-turbolink>
  <ul class="nav">
    <li class="active"><a href="/">Home</a></li>
    <li><%= link_to 'Schools', "/schools" %></li>
    <li><%= link_to 'Collections',"/collections"%><li>
    <li><%= link_to 'Initiative', '/initiative' %></li>
  </ul>
</div>
