<%unless activity.trackable.nil?%>
<div class="hero-unit" style="padding: 20px; margin-bottom: 20px;width: 200px; line-height: 20px;font-size: 14px;" >
  A presentation was given to <%= link_to activity.trackable.school.name, activity.trackable.school%> by <%=activity.trackable.presented_by%>.
  Authorities present were <%= activity.trackable.authorities_present%>
<div class="clearfix"></div>
 <i class="icon-time" style="margin-top: 06px;"></i> <small><%= time_ago_in_words(activity.trackable.created_at) %> ago </small>
</div>
<%end%>