<h3>Photos</h3>
<div class="cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=2000>
  <div class="cycle-overlay"></div>

  <%@photos.each do |photo|%>
      <%= image_tag photo.flickr_url,:class => "cycle2_image",data:{ cycle_title: photo.title ,cycle_desc: photo.description }  %>
  <%end%>
</div>
