<div data-no-turbolink>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li class="active"><%= link_to 'Schools', schools_path %></li>
    <li><%= link_to 'Collections',"/collection"%><li>
    <li><%= link_to 'Initiative', '/initiative' %></li>
  </ul>
</div>