<ul class="nav nav-tabs" id='tabs'>
    <li class="active"><a data-toggle="tab" href="#tabs-1">School Profile</a></li>
    <li><a data-toggle="tab" href="#tabs-2">Presentations</a></li>
    <li><a data-toggle="tab" href="#tabs-3">Collection History</a></li>
	<li><a data-toggle="tab" href="#tabs-4">School Calender</a><li>
  <li><a data-toggle="tab" href="#tabs-5">Principal</a><li>
</ul>

