<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#dA">School Profile</a></li>
    <li><a data-toggle="tab" href="#dB">Presentations</a></li>
    <li><a data-toggle="tab" href="#dC">Collection History</a></li>
	<li><a data-toggle="tab" href="#dD">School Calender</a><li>
</ul>
