<h3>Schools in Sagar-Mitra Program</h3>
<!--<div style="float:right;">-->
  <!--< %= link_to 'Start program in your school!', new_school_volunteer_path , :class => 'btn btn-medium btn-primary'%>-->
<!--</div>-->
<div class="clearfix"></div>
<div class="spacer"></div>
<div class="btn-group view-buttons" style="float: right;">
  <button type="button" class="btn btn-default active" data-tab-value="map">Map View</button>
  <button type="button" class="btn btn-default" data-tab-value="table">Table View</button>
</div>
<div class="clearfix"></div>
<div class="spacer"></div><div class="spacer"></div>

    <%= render "#{@view_type}_view" %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#school_table').dataTable( {
            "aaSorting": [[ 6, "desc" ],[ 7, "desc" ]]
        } );
    });
    $('.view-buttons button').click(function(){
        $(this).parent().find("button").removeClass("active");
        $(this).addClass("active");
        window.location.href = '?type=' + $(this).data('tabValue');
    })
</script>

<% if @view_type.eql?("table") %>
    <script type="text/javascript">
        $('.view-buttons button').removeClass('active');
        $('.view-buttons button[data-tab-value="table"]').addClass('active');
    </script>
<% end %>

