<div id="tabs">
  <%= render :partial=>'tab_header'%>
  <%= render :partial=> 'school_profile'%>


  <div id="tabs-2">
    <p>test 2</p>
  </div>

  <div id="tabs-3">
    <p>test 3</p>
    <p>test 4.</p>
  </div>

</div>
