<% unless activity.trackable.nil? %>
    <div class="hero-unit" style="padding: 20px; margin-bottom: 20px;width: 200px; line-height: 20px; font-size: 14px;">
      <%= link_to activity.trackable.school.name, activity.trackable.school %> has collected plastic
      of <%= activity.trackable.plastic_weight %>KG
      <div class="clearfix"></div>
      <i class="icon-time" style="margin-top: 03px;"></i>
      <small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
    </div>
<% end %>