@import "bootstrap";

/* @import "bootstrap-responsive"; */

a { color: #0088cc }
a:visited { color: #0079BA }
a:hover { color: #0088cc; text-decoration: underline; }

.custab {
  border-left: 1px solid #ccc;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}