<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><%= link_to 'Schools', schools_path %></li>
  <li><%= link_to 'Plastic Collection', plastic_collection_events_path %></li>
  <li class="active"><%= link_to 'Initiative', '/initiative' %></li>
</ul>