<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="active"> <%= link_to 'Concept', '/initiative/concept'%></li>
          <li class=""><%= link_to 'Team', '/initiative/team'%></li>
          <li class=""><%= link_to 'Contact us', '/initiative/contact'%></li>

        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class="hero-unit">
        <p style="font-size: 20px; color: #0088cc; font-weight: 400;">
          Sagar-Mitra Initative &raquo; Concept
        </p>
        Sagar-Mitra Initiative will use plastics recycling research to improvingly recycle tons of plastic being fetched  in by school students within the SAGAR-MITRA Initiative to address hazards of accumulating plastics in streams, lakes, rivers and oceans. In 2013-2014 our project will prevent 75 to 100 tons of plastic waste from polluting our streams, rivers and oceans by recollecting and recycling it through the DAILY actions of 1,50,000 students supported by their 4,50,000 family members and 100 schools and through the recycling research applied by our partners and through networking & administrative support provided by other NGOs and Local City Governments.  This Action Program involves a deeper study of  Oceans and the rivers which feed them, and the streams which feed the rivers, and the types of  civilization on each bank of each river in the world.
      </div>
    </div><!--/.fluid-container-->
  </div>
</div>

