<div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
		        <li class=""> <%= link_to 'Concept', '/initiative/concept'%></li>
	           <li class=""><%= link_to 'Team', '/initiative/team'%></li>
	           <li class="active"><%= link_to 'Contact us', '/initiative/contact'%></li>

          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <div class="hero-unit">
          <!--<p style="font-size: 20px; color: #0088cc; font-weight: 400;">-->
            <!--Sagar-Mitra Initative &raquo; Contact Us-->
          <!--</p>-->
          <p style="line-height: 19px; color: #666;">
            Vinod Bodhankar <br /> <br />
            9850230064 <br />
            <%= link_to 'parvatara@gmail.com', "mailto:parvatara@gmail.com", target: :new %>
          </p>
        </div>
      </div><!--/.fluid-container-->
    </div>
</div>
