<div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Sagar-Mitra Initative</li>
		        <li class=""> <%= link_to 'Concept', '/initiative/concept'%></li>
	           <li class="active"><%= link_to 'Team', '/initiative/team'%></li>
	           <li class=""><%= link_to 'Contact us', '/initiative/contact'%></li>

          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <div class="hero-unit">
          <h1>Sagar-Mitra Initative</h1>
          <p> Container for team</p>
        </div>

    <hr>


  </div><!--/.fluid-container-->

